<div class="in-cl-login" ng-controller="LoginController">
  <div class="in-cl-box-login">
    <img src="../../public/images/profile.png" draggable="false"></img>
    <span class="in-cl-userName">Carla Rodriguez</span>
    <span class="in-cl-userSchool">Corazones Felices</span>
    
    <form id="myLogin">
      <div >
        <input type="text" id="username" ng-model="username" placeholder="Documento">
      </div>
      <div >
        <input type="password"  id="password" ng-model="password" placeholder="Contraseña">
      </div>
<!--
      <div class="checkbox">
        <label><input type="checkbox">Recordarme</label>
      </div>
-->
      <div>
        <button class="btn btn-default" ng-click="login()" >Entrar</button>
<!--
        <button class="btn btn-default" ng-click="getUsers()" >get users</button>
        <button class="btn btn-default" ng-click="logout()" >Salir</button>
-->
      </div>
    </form>
    
  </div>
</div>


<footer>
  
</foofter>